
/************** General **************/

body {
	margin: 0;
	font-family: sans-serif;

}

h1 {
	margin: 0;
}

h2 {
    margin: 0;
}

.indent {
    margin-bottom: 15px;
}

.navig {
    margin-bottom: 5px;
}

.navig a:link, .navig a:visited {
    
    text-decoration: none;
    color: #1F7872;
}

.navig a:hover, .navig a:active {
    color: #D13F31;
}

/************** Header **************/

#header {
	width: 100%;
	height: 90px;
	background-color: #1A202C;
	color: #DEDBA7;
}

#left {
	float: left;
	font-size: 26pt;
	margin-left: 20px;
	margin-top: 20px;
}

#right {
	float: right;
	margin-right: 20px;
	margin-top: 20px;
    text-align: right;

}

#right a {
    color: #DEDBA7;
}

/************** Menu **************/

#menu {
	width: 100%;
	background-color: #1F7872;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#menu li {
    float: left;
}

#menu a:link, #menu a:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 4px;
    text-decoration: none;
}

#menu a:hover, #menu a:active {
    background-color: #1A202C;
    color: #DEDBA7;
}

/************** Submenu **************/

#submenu {
	margin-bottom: 20px;
}

#submenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#submenu li {
    float: left;
}

#submenu a:link, #submenu a:visited {
    display: block;
    text-decoration: none;
    color: #1F7872;
    margin-left: 20px;
}

#submenu a:hover, #submenu a:active {
    color: #D13F31;
}

/************** Department menu *************/

#deparmenu {
    margin-bottom: 20px; 
    float: left;
}

#deparmenu a:link, #deparmenu a:visited {
    display: block;
    text-decoration: none;
    color: #1F7872;
}

#deparmenu a:hover, #deparmenu a:active {
    color: #D13F31;
}

/************** Page content **************/

#content {
	margin: 20px;
}

/************** Login form **************/

#logForm {
    width: 400px;
    height: auto;
    margin: 0 auto;
}

.logFormItem {
    width: 300px;
    margin: 0 auto;
    padding-top: 10px;
}

.logFormItem input{
    width: 300px;
    height: 40px;
}

/************** Add form **************/

#addForm {
    width: 400px;
    height: auto;
    margin: left;
}

#addForm input{
    float:left;
    padding:4px 2px;
    width:200px;
    margin:2px 0 20px 10px;
}

#addForm label{
    display:block;
    font-weight:bold;
    text-align:left;
    width:140px;
    float:left;
}

#addForm select{
    float:left;
    padding:4px 2px;
    width:200px;
    margin:2px 0 20px 10px;
}

#addForm textarea{
    float:left;
    padding:4px 2px;
    width:200px;
    height: 100px;
    margin:2px 0 20px 10px; 
}

#addForm .small {
    color:#666666;
    display:block;
    font-size:11px;
    font-weight:normal;
    text-align:left;
    float: left;
    width:140px;
}


/************** Messages **************/
.error {
    border-color: #990000;
    background-color: #ffb3b3;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    color: #990000;
    margin-bottom: 10px;
}

.pass {
    border-color: #008000;
    background-color: #99ff99;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    color: #008000;
    margin-bottom: 10px;
}

.unauth {
    border-color: #989900;
    background-color: #ffff66;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    color: #989900;
    margin-bottom: 10px;
}

.error img, .pass img, .unauth img {
    width: 15px;
    height: 15px;
    padding: 0 20px;
}


/************** Lists **************/

.icon {
    width: 20px;
    height: 20px;

}

.list {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 10px;

}

.list tr:nth-child(odd) { background-color:#dfdfdf; }
.list tr:nth-child(even) { background-color:#ffffff; }

.list td {
    border: 1px solid black;
    text-align:left;
    padding:7px;
}

.list th {
    border: 1px solid black;
    text-align:center;
    padding:7px;
    background-color: #51A39D;
    
}

.c {
    text-align: center;
}

.filter {
    margin-right: 30px;
}


/**************  **************/